.management-row {
    display: flex;
}

.management-row>*:last-child {
    margin-left: 5px;
}


#confirm-delete-modal {
    display: flex;
    flex-direction: column;
    padding: 8px;
    max-width: 300px;
}

#confirm-delete-modal>h2 {
    align-self: center;
}

#confirm-delete-modal>button {
    margin: 4px 4px;
    padding: 4px 4px;
}

#confirm-delete-button {
    background-color: red;
}

#confirm-delete-cancel {
    background-color: darkgray;
}

#spots {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
