#spots {
    display: flex;
    flex-direction: row;
}

.spot-img {
    width: 80%;
}

.spot-card {
    width: 25%;
}

.spot-deets {
    display: flex;
    width: 25%;
    justify-content: space-between;
}
