#spots {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.spot-img {
    width: 80%;
    height: 100%;
}

.spot-card {
    width: 25%;
}

.spot-deets {
    display: flex;
    width: 80%;
    justify-content: space-between;
}
