.hidden {
    display: none;
}

#logo {
    width: 15px;
    height: 15px;
    padding-right: 2px;
}

#nav-bar-right {
    display: flex;
    padding: 0;
    justify-content: space-between;
}

#nav-link-right {
    margin-right: 8px;
    text-decoration: none;
}

#manage-spot-navlink {
    text-decoration: none;
}

#nav-bar {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px gray solid;
}

.profile-dropdown {
    list-style-type: none;
    position: relative;
}

#popup-menu {
    position: absolute;
    border: black solid 2px;
    border-radius: 5px;
    right: 0;
    top: 5px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    background-color: rgb(154, 204, 243);
    width: 100px;
}

#popup-menu>*:first-child {
    margin-bottom: 8px;
}

#profile-popup-menu {
    position: absolute;
    border: black solid 2px;
    border-radius: 5px;
    right: 0;
    top: 5px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    background-color: rgb(154, 204, 243);
}

#profile-popup-menu>*:nth-last-child(n + 2) {
    margin-bottom: 8px;
    border-bottom: 1px solid black;
}

#profile-popup-menu>*:last-child {
    align-self: center;
}

#profile-popup-menu button {
    background-color: red;
    align-self: center;
}

#nav-link {
    text-decoration: none;
    cursor: pointer;
}

#prof-but {
    cursor: pointer;
}
