.hidden {
    display: none;
}

#logo {
    width: 15px;
    height: 15px;
    padding-right: 2px;
}

#nav-bar-right {
    display: flex;
    padding: 0;
    justify-content: space-between;
}

#nav-link-right {
    margin-right: 8px;
    text-decoration: none;
}

#nav-bar {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px gray solid;
}

.profile-dropdown {
    list-style-type: none;
}

#nav-link {
    text-decoration: none;
    cursor: pointer;
}

#prof-but {
    cursor: pointer;
}
