#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 5px;
}

#header {
    display: flex;
    align-content: center;
}

#lfm-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lfm-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}
